asgiref==3.6.0
coverage==5.5
deprecation==2.1.0
Django==4.2
djangorestframework==3.14.0
eyed3==0.9.7
filetype==1.2.0
mutagen==1.46.0
packaging==23.0
pytube==12.1.3
pytz==2023.3
sqlparse==0.4.3
toml==0.10.2
tzdata==2023.3
youtube-dl==2021.12.17
